.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  transform: scale(var(--size));
  transition: transform 0.3s ease;
}

.loader svg {
  width: 100%;
  height: 100%;
}

.loader .box {
  background: black;
  width: 100%;
  height: 100%;
}
