.ql-container {
  font-family: inherit;
  font-size: inherit;
}

.ql-editor {
  min-height: auto;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-color: #e2e8f0;
}

.ql-container.ql-snow {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-color: #e2e8f0;
}
